
.about-us {
  width: 100vw;        
  height: 100vh;        
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin: 0;
  color: white; 
  position: relative;
  background-color: #f4f4f4;
}

/* Navigation Bar */
.abt-nav {
  width: 100%; 
  display: flex;
  justify-content: space-between;
  padding: 20px; 
  background: transparent; 
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

/* Button Styling */
.butt {
  margin: 10px 0;
  background: ivory;
  color: black;
  height: 3rem;
  font-size: 18px;
  width: 6rem;
  font-weight: bold;
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.butt:hover {
  background-color: #ddd;
}

/* Header */
.abt-head {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
  color: #333;
  font-weight: 600;
}

/* Content styling */
.abt-cont {
  margin-top: 20px;
  text-align: center;
  color: black;
  padding: 0 1rem;
}

/* Container to hold the text */
.about-us-content {
  padding: 20px;
  width: 80%;
  max-width: 1200px; 
  text-align: center;
  margin-top: 100px; 
}


.text-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #555; 
}



/* For tablet screens */
@media (max-width: 768px) {
  .abt-head {
    font-size: 2rem;
  }

  .abt-cont h2 {
    font-size: 1.8rem;
  }

  .text-content p {
    font-size: 1rem;
  }

  /* Button adjustments */
  .butt {
    width: 5rem;
    height: 2.5rem;
    font-size: 16px;
  }

  .about-us-content {
    padding: 10px;
    width: 90%;
  }
}


@media (max-width: 480px) {
  .abt-head {
    font-size: 1.5rem;
  }

  .abt-cont h2 {
    font-size: 1.5rem;
  }

  .text-content p {
    font-size: 0.9rem;
  }

  /* Button adjustments */
  .butt {
    width: 4.5rem;
    height: 2.2rem;
    font-size: 14px;
  }

  .about-us-content {
    padding: 8px;
    width: 95%;
  }
}
